:root {
    --primario: #71b100;
    --secundario: #e08709;
}
/* *{
    border: 1px solid red!important;
} */
body {
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4 {
    font-weight: 300;
}
/** Header **/
.fondo-verde{
    background-color: var(--primario);
}
.fondo-verde-barra{
    background-color: var(--primario);
}
.fondo-naranja{
    background-color: var(--secundario);
}
@media only screen and (min-width: 768px){
    .barra.fondo-verde-barra{
        background-color: transparent;
    }
    .header{
        position: relative;
    }
    .barra.fondo-verde-barra{
        position: absolute;
        z-index: 100;
        width: 100%;
    }
}
.logo{
    font-size: 1.8rem;
    font-weight: 300;
}
.logo span{
    font-weight: 900;
}
.nav-link{
    text-transform: uppercase!important;
    color: #ffffff!important;
    font-size: .8rem;
}
div.dropdown-menu{
    background-color: #71b100;
    transition: all .3s ease-in-out;
}
a.dropdown-item{
    color: #ffffff!important;
    text-transform: uppercase;
}
a.dropdown-item:hover{
    background-color: #e08709;
}
.carousel-caption h3{
    font-size: 2.8rem!important;
}
.bloque-info p{
    font-size: 1.4rem;
}
.btn-warning{
    border-color: #e08709;
    font-weight: 700;
    border: none!important;
}
.titulo-card{
    font-size: 1rem;
    font-weight: 700;
}
.card-descripcion img{
    margin-right: .5rem;
}
section.encuentra{
    background-image: url(../img/contacto.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    padding: 1rem 0;
    color: #ffffff!important
}
.encuentra .row{
    height: 25rem;
}
.encuentra h3{
    font-size: 2.2rem;
    font-weight: 700;
}